.categy-box{
    position: relative;
    overflow:hidden;
    transition:0.5s;
    cursor: pointer;
    transform:translateY(0);
}
.categy-box:hover{
    transform:translateY(-20px);
}
.categy-box::before{
    content:'';
    position: absolute;
    width:0%;
    height:2px;
    left:0px;
    bottom:0px;
    background-color:#525FE1;
    border-radius:8px;
    transition:0.5s;
}
.categy-box:hover::before{
    width:100%;
}